.banner
{
position: relative;

 background-size: cover;
 background-position:right ;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.banner h2
{
    font-size: 1.5em;
    color:black;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h3{
    font-size: 1em;
    color:#787875;
    font-weight: 500;
    line-height: 1.5em;
}
